{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Historial de Ventas</h2>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Productos</th>
                <th>Cantidades</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for venta in ventas %}
            <tr>
                <td>{{ venta[0] }}</td>
                <td>{{ venta[1] }}</td>
                <td>{{ venta[3] }}</td>
                <td>{{ venta[4] }}</td>
                <td>S/ {{ venta[2] }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5" class="text-center">No hay ventas registradas</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}